* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background:url(../images/body.gif);
    font-family: "Proxima Nova Regular", sans-serif;
}

body {
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    border-radius: 10px;

    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
    
    padding: 30px;
    
    width: 63.75em;
    margin:2em auto;
}

a {
    display: block;
    width: 100%;
}

fieldset {
    margin: 0 0 20px 0;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #d9e7ed;
    border-top: 4px solid #d9e7ed;
    -moz-border-radius: 4px;
}

input[type=text], select, textarea {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    font-size: 1em;
    margin-bottom: 1em;
    outline: 0;
    padding: .5em;
    
    font-family: "Proxima Nova Regular", sans-serif;
}

input[type=text]:focus, textarea:focus {
border: 1px solid #b2b2b2;
}

textarea {
    overflow: auto;
    resize: vertical;
    min-height: 9em;
    width: 97%;
}

select {
    padding: 0.5em;
    display: inline-block;
}

ul {
    width: 100%;
}

ol {
    list-style-type:none;
    padding-left:2em;
}

textarea {

}

legend {
    color: #333;
    padding: 0 .5em;
    font-size: 1.8em;
    
    font-family: "Skolar Regular", serif;
}

label {
    font-family: "Proxima Nova Regular", sans-serif;
    
    display: inline;
    padding-right: 0;
}

button[type=submit], input[type=submit], input[type=button] {
    background: -moz-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(233,92,51,1)),color-stop(100%,rgba(229,59,44,1)));
    background: -webkit-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: -o-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: -ms-linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    background: linear-gradient(top,rgba(233,92,51,1) 0,rgba(229,59,44,1) 100%);
    border: 1px solid #e95c33;
    background-color: #e95c33;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    outline: 0;
    padding: .55em 1em;
    position: relative;
    text-decoration: none;
    
    font-size: 1.1em;
    
    display: inline-block;
}

button[type=submit].minor-button, input[type=submit].minor-button, input[type=button].minor-button {
    background:transparent;
    background-color: #41b7d8;
    border: 1px solid rgba(0,0,0,.1);
    
    margin-top: 2em;
}

button[type=submit].mark-all, input[type=submit].mark-all, input[type=button].mark-all {
    margin-top:0;
    margin-bottom: 1em;
}


button[type=submit].major-button, input[type=submit].major-button, input[type=button].major-button {
    margin-top: 1.5em;
    font-size: 1.5em;
}

header {
    margin-bottom : 2em;
}

.pro-tip {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    padding: 1em;
    background-color: #f2f2f2;
}

.pro-tip a {
    display: inline;
}

.required:after {
    content: "*";
    color: rgb(201, 32, 27);
    margin-left: 0.5em;
}

.required-hint {
    color: rgb(201, 32, 27);
    text-align: left;
    width: 100%;
    clear: both;
}

.fieldset-info {
    clear: both;
}

.fieldset-info input[type=text] {
    width: 50%;
}

.fieldset-info label {
    display:block;
    
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.logo {
    float: left;
    width: 25%;
}

.logo img {
    width: 100%;
}

.title {
    color: #333;
    padding: 0 .5em;
    font-size: 1em;
    float: right;
    
    text-align: center;
    
    width: 75%;
}

.title h1 {
    font-family: "Skolar Bold", serif;
    
    margin-top: 0.4em;
    margin-bottom: 0em;
}

.title h2 {
    font-family: "Skolar Regular", serif;
    margin: 0;
    color: rgba(0,0,0,0.3);
}

.title em {
    font-family: "Skolar Italic", serif;
}

.form-footer {
    text-align: center;
    clear: both;
}

.add-new-resolution {
    text-align: center;
}

.add-new-resolution input[type=text] {
    display: inline;
    width: auto;
    text-align:center;
    width: 40%;
}

.add-new-resolution label {
    font-size: 1.2em;
    margin-bottom: 2.5em;
    display: block;
}

.left-fieldset, .right-fieldset {
    float: left;
    width: 49%;
}

.left-fieldset {
    float: left;
}

.right-fieldset {
    float: right;
}

.resolution-fieldset {
    text-align: center;
}

.columned {
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
  padding-left: 20px;
  margin-top:0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}

.columned li {
  padding-bottom:1.3em;
  float:left;
  display:inline;
  width:33.33%;
  font-size: 1em;
  margin-left:0;
}

.columned label {
    display: inline-block;
    margin-left: 0.3em;
    position: relative;
    top: 2px;
    
    border: 1px solid #ddd;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    padding: 0.1em .4em;
    
    background-color: rgba(0, 0, 0, 0.03);
}

.two-options-fieldset {
    min-height: 140px;
}

.two-options-fieldset ul {
    list-style-type: none;

    margin-top: 0.6em;
}

.two-options-fieldset input, .two-options-fieldset label {
    display: inline;
    line-height: 1.5;
}

fieldset[id="id-calendar-fieldset"] input {
    float: left;
}

fieldset[id="id-calendar-fieldset"] label {
    float: right;
    width: 90%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

input.parsley-error, textarea.parsley-error, select.parsley-error {
    border-color: rgb(201, 32, 27) !important;
    color: rgb(201, 32, 27)  !important;
}

input.parsley-success, textarea.parsley-success, select.parsley-success {
    border-color: #159E1E !important;
    color: #159E1E !important;
}

div.parsley-error {
    background-color: rgba(201, 32, 27, 0.1) !important;
}

.errors-right {
    width: 45%;
    float: right;
    
}

.errors {
    color: rgb(201, 32, 27);
    font-family: "Proxima Nova Regular", sans-serif;
}

.errors ul {
    list-style-type: none;

    margin-top: 0.6em;
}

.new-resolution-error {
    display: block;
    margin-left: 0.4em;
    margin-top: 0.8em;
}

.warning {
    color: red;
}

.hidden {
    display:none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

footer {
    margin-top: 3em;
    display: table;
    line-height: 1.4;
    
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 2.5em;
}

.made-by, .proudly {
    width: 50%;
    vertical-align: middle;
    display: table-cell;
    color: #888;
}

.made-by {
    text-align: right;
}

.made-by a {
    display: inline;
    color: #41b7d8;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.made-by a:hover {
border-bottom: 1px solid #41b7d8;
}

.made-by a:active {
    background-color: #e53b2c;
    color: #fff;
}

.made-by a:link {
-webkit-tap-highlight-color: rgba(229,59,44,0.4);
}

.proudly {
    text-align: left;
}

.proudly span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
}

.proudly a {
    display: inline;
    vertical-align: middle;
}

.proudly img {
    display: inline;
    vertical-align: middle;
    width: 30%;
    position:relative;
    top:-0.2em;
}

@media screen and (min-width:44em) and (max-width:63.75em) {
    .container {
        width: 100%;
    }
    
    .columned li {
      width:50%;
    }
    
    .proudly img {
        width: 20%;
    }
}

@media screen and (min-width:0em) and (max-width: 44em) {
    
    
    .container {
        width: 100%;
    }
    
    .logo {
        float: none;
        width: 60%;
        margin: auto;
        margin-bottom: 1em;
    }

    .title {
        float: none;
        width: 100%;
    }
    
    .fieldset-info input[type=text], .fieldset-info select, .fieldset-info textarea {
        width: 100%;
    }
    
    ol {
        padding: 0;
    }
    
    .errors, .left-fieldset, .right-fieldset {
        float: none;
        width: 100%;
    }
    
    .errors ul {
        padding: 0;
        margin-bottom: 0.3em;
    }
    
    .errors li {
        text-align: center;
    }
    
    select {
        margin-left: 0;
        width: 100%;
    }
    
    .columned li {
      width:50%;
    }
    
    .columned {
      border:0;
      padding-bottom: 0.5em;
    }
    
    .resolution-fieldset {
        border-bottom:1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 1.5em;
    }
    
    .add-new-resolution input[type=text] {
        display: block;
        margin: auto;
        margin-bottom:0.2em;
    }
    
    .add-new-resolution label {
        margin-bottom:1em;
    }
    
    .span-times {
        display: block;
    }
    
    
}

@media screen and (min-width:0em) and (max-width:25em) {
    .columned {
      padding-left:0;
    }
}

@media screen and (min-width:0em) and (max-width:23.5em) {
    
    .columned {
      padding-left:20%;
    }
    
    .columned li {
      width:100%;
    }
}

@media screen and (min-width:0em) and (max-width:63.75em) {
    .span-times {
        display: block;
    }
    
    .add-new-resolution input[type=text] {
        display: block;
        margin: auto;
        margin-bottom:0.2em;
    }
    
    .logo {
        margin-bottom: 2em;
    }
    
    .made-by, .proudly, footer {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .proudly {
        margin-top: 2em;
    }
}